#messaging {
     .container-fluid {
          margin: 20px 0;

          .row {
               max-height: 700px;
               
               &>div {
                    margin-bottom: 40px;
               }
          }
     }


}

::ng-deep {
     .ant-breadcrumb {
          margin: 20px 0;
     }

     .ant-breadcrumb a {
          font-weight: 300;
          font-size: 12px;
          line-height: 22px;
          color: #6A6A6A;
     }

     .ant-breadcrumb-separator {
          color: var(--dark-color);
          font-weight: 300;
          font-size: 12px;
          line-height: 22px;
     }


}