<div id="messaging">
     <div class="container-fluid">
          <nz-breadcrumb nzSeparator=">">
               <nz-breadcrumb-item>
                    <a routerLink="/home">Dashboard</a>
               </nz-breadcrumb-item>
               <nz-breadcrumb-item>Messaging</nz-breadcrumb-item>
          </nz-breadcrumb>
          <div class="row ">
               <div class="col-md-4">
                    <app-list-chat></app-list-chat>
               </div>
               <div class="col-md-8">
                    <app-screen-chat></app-screen-chat>
               </div>
          </div>
     </div>
</div>
