<div class="contact-us-part">
    <div>
        <app-icon style="padding-inline-end: 12px" icon="contact.svg" size="xl"></app-icon>
        <span>Do You Want Help ? </span>
        <span class="font-weight-bolder">Contact us</span>
    </div>
    <div class="font-weight-bolder">+966 55 497 46 797</div>
</div>
<div class="footer-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="text-lg font-weight-bolder">Larat</div>
            <div>Is Simple Dummy Text</div>
            <div class="mt-4">Iconss</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="text-lg font-weight-bolder">Links</div>
            <div>Link 1</div>
            <div>Link 2</div>
            <div>Link 3</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="text-lg font-weight-bolder">Help</div>
            <div>About us</div>
            <div>Contact us</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="text-lg font-weight-bolder">Download App</div>
        </div>
    </div>
</div>
<div class="copyrights">All rights reserved © Larat</div>
