#reset-password {
     padding-block: 40px;
     padding-inline: 30px;

     .title {
          font-weight: 500;
          font-size: 25px;
          line-height: 22px;
          color: var(--dark-color);
          margin-top: 48px;
     }

     .desc {
          font-weight: 300;
          font-size: 20px;
          line-height: 22px;
          color: #45443F;
          margin-block: 30px;
     }

    
}

::ng-deep {
     .ant-input-affix-wrapper {
               border: 1px solid #E8E8E8;
               border-radius: 10px 10px 0px 0px;
               border-bottom: 2px solid #C1C1C1;
               padding: 0px 17px;
               margin-block-end: 12px;
          }
     
          .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
               border: 1px solid #E8E8E8;
               border-bottom: 2px solid #E8E8E8;
               border-right-width: 0 !important;
          }
     
          .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
               background-color: #C1C1C1;
          }
     
          .ant-input-affix-wrapper:focus {
               box-shadow: none;
               border: 0;
               border-right-width: 0 !important;
               z-index: 0
          }
     
          .ant-input-affix-wrapper>input.ant-input {
               font-weight: 400;
               font-size: 14px;
               line-height: 12px;
               color: var(--black-color);
               padding: 15px 13px;
               position: relative;
               transition: 0.2s;
          }
     
          .ant-input-affix-wrapper>input.ant-input.ng-valid {
               border-bottom: 2px solid var(--secondary-color);
          }
}