<div id="reset-password">
     <h3 class="title">
          Reset Password
     </h3>
     <p class="desc">Please enter Phone number</p>
     <form [formGroup]="mobileForm" (ngSubmit)="submitMobileForm(mobileForm)" id="mobile-form">
          <label for="mobile-input">Phone number<span class="lable-ast">*</span></label>
          <nz-input-group [nzPrefix]="prefixTemplateUser">
               <input formControlName="mobile" type="tel" id="mobile-input" nz-input autocomplete="off" />
          </nz-input-group>
          <ng-template #prefixTemplateUser>
               <img src="../../../../../assets/img/auth/icon/call.svg" alt="call icon">
          </ng-template>
          <button [disabled]="mobileForm?.invalid" class="btn btn-main mt-3 w-100" type="submit">
               <span>Next</span>
          </button>
     </form>
</div>
