h1,
h2,
h3 {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000;
  line-height: normal;
  font-weight: bold;
  text-transform: capitalize;
}
p {
  margin: 0;
}
.text-second-color {
  color: var(--btn-main);
}

.btn.btn-main {
  background-color: var(--btn-main);
}

h1 {
  font-size: 48px;
}

hr {
  margin: 10px;
}

.property-bio {
  font-size: 18px;
  font-weight: 500;
  color: #999;
}

.rounded-xl {
  border-radius: 10px;
}

.rounded-full {
  border-radius: 9999px;
}

.props .icon {
  display: flex;
  img {
    width: 40px;
    margin: auto;
  }
}
