<nz-sider class="sider">
     <h3 class="title">Chats <span class="messag">2</span></h3>
     <ul class="list-user p-0 mt-2">
          <li class="user d-flex justify-content-between align-items-center" (click)="selectChat($event)">
               <div class="d-flex align-items-center">
                    <span class="avatar-user">
                         <img src="../../../../../assets/img/theme/team-1.jpg" alt="avatar">
                    </span>
                    <div class="name-user">
                         <h6 class="name">Ahmed</h6>
                         <p class="m-user">is still available ?</p>
                    </div>
               </div>

               <div class="status d-flex flex-column align-items-center">
                    <i class="fa-solid fa-circle"></i>
                    <span class="time">12:30</span>
               </div>
          </li>
          <li class="user d-flex justify-content-between align-items-center" (click)="selectChat($event)">
               <div class="d-flex align-items-center">
                    <span class="avatar-user">
                         <img src="../../../../../assets/img/theme/team-1.jpg" alt="avatar">
                    </span>
                    <div class="name-user">
                         <h6 class="name">Ahmed</h6>
                         <p class="m-user">is still available ?</p>
                    </div>
               </div>

               <div class="status d-flex flex-column align-items-center">
                    <i class="fa-solid fa-circle"></i>
                    <span class="time">12:30</span>
               </div>
          </li>

     </ul>
</nz-sider>
