
.card-profile-stats > div .heading {
  font-size: 11px !important;


}
.border-radius-large {
  border-radius: 32px;
}


.square-md {
  width: 48px;
  height: 48px;
}
.square-sm {
  width: 32px;
  height: 32px;
}
.gap-md {
  gap: 8px
}

.card-img-top {
  border-radius: .75rem;
}
.card {
  border-radius: .75rem !important;
}
.card-header {
  border-radius: .75rem !important;

}
.card-title-start{
  margin-top: 1rem;
  margin-inline-start: 1rem;
}
.card-title-end {
  margin-top: 1rem;
  margin-inline-end: 1rem;

}