<div id="new-password">
     <h3 class="title">
          Reset Password
     </h3>
     <form [formGroup]="newPasswordForm" id="new-password-form">
          <label for="password-input">New Password<span class="lable-ast">*</span></label>
          <nz-input-group [nzPrefix]="prefixTemplateUser" [nzSuffix]="suffixTemplate">
               <input formControlName="newPassword" [type]="passwordVisible ? 'text' : 'password'" id="password-input"
                    nz-input autocomplete="off" />
          </nz-input-group>
          <ng-template #suffixTemplate>
               <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
          <ng-template #prefixTemplateUser>
               <img src="../../../../../assets/img/auth/icon/lock.svg" alt="lock icon">
          </ng-template>
          <label for="confirm-input">Confirm Password<span class="lable-ast">*</span></label>
          <nz-input-group [nzPrefix]="prefixTemplateUser2" [nzSuffix]="suffixTemplate2">
               <input formControlName="confirmPassword" [type]="passwordVisible ? 'text' : 'password'"
                    id="confirm-input" nz-input autocomplete="off" />
          </nz-input-group>
          <ng-template #suffixTemplate2>
               <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
          <ng-template #prefixTemplateUser2>
               <img src="../../../../../assets/img/auth/icon/lock.svg" alt="lock icon">
          </ng-template>
          <button [disabled]="newPasswordForm?.invalid" class="btn btn-main mt-3 w-100" type="submit"
               (click)="submitNewPassForm(newPasswordForm)">
               <span>Save</span>
          </button>
     </form>
</div>
