#otp-reset-password {
     padding-block: 40px;
     padding-inline: 30px;

     .title {
          font-weight: 500;
          font-size: 25px;
          line-height: 22px;
          color: var(--dark-color);
          margin-top: 48px;
     }

     #otp {
          .title-otp {
               font-weight: 500;
               font-size: 25px;
               line-height: 22px;
               color: var(--main-color);
               margin-block: 35px 15px;
          }

          .desc-otp {
               font-weight: 300;
               font-size: 20px;
               line-height: 22px;
               color: #45443F;
               margin-block-end: 30px;
          }

          .resend {
               color: var(--btn-main);
               text-decoration: underline;
               font-size: 22px;
               margin-block: 17px 20px;
               line-height: 22px;
               font-weight: 300;
               cursor: pointer;
               display: block;
          }
     }
}

::ng-deep {
     .ng-otp-input-wrapper.wrapper {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
     }

     .otp-input {
          width: 75.4px !important;
          height: 54.22px !important;
          background-color: var(--white-color);
          border: 1px solid var(#E8E8E8) !important;
          border-radius: 10px 10px 0px 0px !important;
          margin: 0 !important;
          color: var(--main-color);
     }

     .otp-input:focus {
          border: 0;
          outline: 0;
     }
}