<div id="otp-reset-password">
     <h3 class="title">
          Reset Password
     </h3>
     <section id="otp">
          <h3 class="title-otp">OTP</h3>
          <p class="desc-otp">An activation code has been sent to your email</p>
          <section>
               <ng-otp-input id="otp-email" (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
               <span class="resend" (click)="resendCode()" title="Resend Code">Resend code</span>
               <button  class="btn btn-main mt-3 w-100" type="submit" (click)="submitOtpForm()">
                    <span>Next</span>
               </button>
          </section>
          
     </section>
</div>
